<div class="container">
    <div class="row pt-5">
        <div class="col">
            <h2>Курс по библиотеке NgRx</h2>

            <p>Библиотека NgRx реализует принцип работы Redux для Angular приложений. <br>
                Главная цель NgRx - централизовать
                и сделать максимально понятным управление всеми состояниями приложения.
            </p>
            <p>
                Цель достигается благодаря заложенным в библиотеке нескольким фундаментальным принципам:
            </p>
            <ul>
                <li>Наличие единственного источника данных о состоянии - хранилища (store);</li>
                <li>Доступность состояния только для чтения;</li>
                <li>
                    Изменение состояние осуществляется только через действия (actions),<br>
                    которые обрабатываются редюсерами (reducer), представляющими собой чистые функции.
                </li>
            </ul>

            <h4 class="mt-5">Основные команды установки зависимостей</h4>

            <div class="d-flex flex-column align-items-start">
                <span>ng add @ngrx/store - основной пакет Store</span>
                <span>ng add @ngrx/effects - пакет Effects</span>
            </div>

            <h4 class="mt-4">Полезные материалы</h4>

            <div class="d-flex flex-column align-items-start">
                <a href="https://ngrx.io" target="_blank">Документация</a>
                <a class="mt-2" href="https://angdev.ru/ngrx/about/" target="_blank">Справочник</a>
            </div>
        </div>
    </div>
</div>