<div class="todo-header">
    <div class="todo-form">
        <label for="" class="w-100">
            <input class="todo-form__input" type="text">
        </label>
        <button class="todo-form__btn"></button>
    </div>
</div>
<div class="todo-list-wrapper">
    <ul class="todo-list unchecked">
        <li class="todo-list__item">
            <span class="todo-list__item--title">Выучить NgRx</span>
            <div class="todo-list__item--buttons">
                <button class="todo-list__item--remove"></button>
                <button class="todo-list__item--check"></button>
            </div>
        </li>
    </ul>
    <ul class="todo-list checked pt-5">
        <li class="todo-list__item">
            <span class="todo-list__item--title">Выучить Angular</span>
            <div class="todo-list__item--buttons">
                <button class="todo-list__item--remove"></button>
                <button class="todo-list__item--check"></button>
            </div>
        </li>
    </ul>
</div>
